body {
  direction: rtl;
}
nav {
  direction: ltr;
}
/* footer */
.footer h2::after {
  position: absolute;
  bottom: -15px;
  right: 0;
  content: "";
  width: 70px;
  height: 1px;
  background: var(--first-color);
}
